# Configuration & Environment
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Unit test temp files
config/state_test.json

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
